<div class="login-container">

  <div class="login-form">

    <h2>Edit Password</h2>

    <%= form_with model: @password do |f| %>

      <%= f.label :app %>
      <%= f.text_field :app %>

      <%= f.label :password %>
      <%= f.text_field :password %>

      <%= f.submit "Update", class: "glass-btn" %>

    <% end %>

  </div>

</div>
